	

		/* //////////////GENERAL///////////////*/ 


body{width: 1265px; 
	margin:0 auto; 
	font-family: arial, helvetica, sans-serif;}
.container {width: 960px; 
	margin: auto; 
	padding-top: 4em;  
	padding-bottom: 4em;}
h2{ font-size:1.8em; 
	font-weight: lighter; 
	text-transform: uppercase; 
	color: #484848; 
	letter-spacing: 1px;}
h3{text-transform: uppercase; 
	font-weight: lighter; 
	color: #303030;	
	text-align: left;}

	/* CONTAINER */

.white{ margin: auto; background-color: #fff; text-align: center; border-bottom: 1px solid #dddddd;}
.grey{ margin: auto; background: #f5f5f5; text-align: center; border-bottom:1px solid #dddddd ;}

	/* PARAGRAPHE */

.texteCentre, .texteGauche{ width:70%; margin: 0 auto; padding:1em 0 3em 0; color: #8d8d8d; line-height: 1.8em;}

  /* PARAGRAPHE GAUCHE*/

.titreGauche{ text-align: left;}
.texteGauche{ text-align: left; margin-left: 0;}
.underlineGauche{ width:22em; margin-left: 0; color:black;}
	
	/* HR CENTRE */

.underlineCentre{ width:22em; margin:auto; color:black;}

	/* PARAGRAPHE & HR CENTRE*/

.hr-article{ width:15em; margin-left: 0; color:black;}
.texte-article{ width: 95%; font-size: 0.9em; color: #8d8d8d; line-height: 2em; font-weight: lighter;}

	/* IMAGES */

img { max-width: 100%; }
	



	/* HEADER*/

header{
	height:8.5em;
	background-color: #fff;
  	width: auto;
}
header .container{
	margin:0 auto;
	position: relative;
}
#logo, #menu{
	display: inline-block;
	vertical-align: middle;
}
#logo{
	height: 4em;
	line-height: 3em;
	position: absolute;
	top:3.6em;
}
#menu{
	width: 60%;
	float: right;
}
#menu a{
	float: right;
	color: #d4d4d4;
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 0 1.8em;
	text-decoration: none;
	text-transform: uppercase;
}	
#menu a:link,
#menu a:visited {
	color: #d4d4d4;
	text-decoration: none;
}
#menu a:hover,
#menu a:active{
   	color :#000;
   	text-decoration: none;
}
  
	/* BANNER  */

#banner {
  	background-image: url('../img/hero-tour.jpg');
	width:100%;
	height: 100%;
	margin: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
#banner .banner-text{
  	text-align: center;
	padding-top: 5em;
  	padding-bottom: 6.8em;
  	position: relative;
}
#banner h1 {
  font: bold 2.6em sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.4em;
  margin-bottom: 0;
}
#banner h1::before {
  content: '';
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  width: 30%;
  height: 0.1em;
  background: white;
}
#banner p {
  width: 100%;
  font: italic 1em "time new roman";
  color: #fff;
  padding-bottom: 2.8em;
}
.btn-yellow{
	width:18%;
	height: 3.5em;
	background-color: #fff186;
	font: bold 1em sans-serif;
	color:black;
	text-decoration: none;
	text-transform:uppercase; 
	border-radius: 30px;
	margin: 0 2em 0 0;
}
.banner-text .btn{
	text-transform: uppercase;
	color: #f1f0f0;
	font: bold 0.9em sans-serif;
	opacity: 0.8;
	margin-right: 0.5em;
	text-decoration: none;
}
.btn-logo{
	position: absolute;
	top:22.84em;
	right: 18.8em;
}	
.name-artiste{
	position: absolute;
	color: white;
	border-right: 1px solid rgba(255, 255, 255, .5);
	text-align: right;
	font: lighter 0.6em sans-serif;
	line-height: 1.7em;
	padding-right: 1.5em;
	top:60em;
	right:2em;
	letter-spacing: 1px;
	opacity:0.9;
}
.name-artiste span{
	opacity: 0.5;
}
.banner-bas{
	width:120%;
	height: 5em;
	line-height: 6em; 
	text-align: left;
  	list-style: none;
  	opacity:0.3;
  	padding: 0 0 0 18em;
  	position: relative;
}
 .banner-bas a{
	padding-left: 2em;
}
.banner-bas div{
	position: absolute;
	text-decoration: none;
	top:-0.65em;
	left: 8.5em;
}
.banner-bas div a{
	text-decoration: none;
	color: black;
	font-size: 0.7em;
	letter-spacing: 1px;
}

	/* SLIDER ONE */

.bx-wrapper ul {
	padding: 0;
	margin: 0;
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: none;
	left: 0;
}
#slider-one .container{
	padding-bottom: 0;
	position: relative;
}
#slider-one .first-slider{
	background-image: url("../img/large-cinema-display.png");
	background-repeat: no-repeat;
	width: 960px;
	padding: 39px 39px 80px 37px;
	box-sizing: border-box;	
}
#slider-one .bx-wrapper .bx-prev{
	background: url('../img/templates-gallery-left-arrow.png') no-repeat 0 0 ;
	left:-90px;
	width: 100px;
	height: 100px;
	opacity:0.5;
}
#slider-one .bx-wrapper .bx-next{
	background: url('../img/templates-gallery-right-arrow.png') no-repeat 0 0;
	right: -600px;
	width: 100px;
	height: 100px;
	margin-left:-7.5em;
	opacity:0.5;
}
.bx-wrapper .bx-controls-direction a {
    left: 60em;
}

	/*ALL IN PLATEFORM */

#all-in-plateform .container{
	padding-bottom: 0;
}

	/*LAYOUT ENGINE */

#layoutengine img{
	padding: 1em 0 1em 0;
}

	/* STATE OF ART*/

#state-of-art .container{
	padding-bottom: 2em;
	position: relative;
}
.state-italic{
	text-align: left;
	font-size: 0.8em;
	font-style: italic;
	margin-left: 1em;
	color: #8d8d8d;
}
.state-blog-left, .state-blog-center, 
.state-blog-right{
	margin:0 auto;
 	width:32%;
 	display:inline-block;
	vertical-align: top;
	color:#303030;
	text-align: left;
}
.state-blog-left .texte-article, .state-blog-center .texte-article, 
.state-blog-right .texte-article{
	width: 95%;
	padding-bottom:1.2em;
}
.state-blog-left p, .state-blog-center p, 
.state-blog-right p{
	line-height: 1.5em;
}
#state-of-art h3{
	margin-top: 1.5em;
}
#state-of-art .btn-slider-left{ 
	position: absolute;
	top:35.5em;
	left:-3.5em;
	opacity: 0.4;	
}
#state-of-art .btn-slider-right{ 
	position: absolute;
	top:35.5em;
	right:-3.5em;
	opacity: 0.4;	
}
#state-of-art .bx-wrapper .bx-prev{
	background: url('../img/templates-gallery-left-arrow.png') no-repeat 0 0 ;
	left:-3.3em;
	top:16em;
	width: 100px;
	height: 100px;
	opacity:0.5;
}
#state-of-art .bx-wrapper .bx-next{
	background: url('../img/templates-gallery-right-arrow.png') no-repeat 0 0;
	right: -3.3px;
	top:16em;
	width: 100px;
	height: 100px;
	margin-left:-5em;
	opacity:0.5;
}

	/* STATE OF ART (LOGO)*/

.logo-blog{
	width:32%;
	text-align: left;
	display: inline-block;
	opacity:0.6;
	padding-bottom: 3em;
}
.logo-blog a{
	padding-right: 0.6em;
}
	
	/* CUSTOM*/

#custom img{
	padding-bottom: 6em;
}
.barre-search-haut{
	background-image: url('../img/sqsp-browser-yourbrand.png');
	height: 43px;
}
.barre-search-bas {
	background-image: url('../img/sqsp-browser-yourbrand.png'); 
	background-position: 0 -50px;
	height: 21px;
}
.bx-wrapper .bx-controls-direction a {
    left: 67em;
}
#custom .bx-wrapper .bx-controls-direction .bx-prev {
    left: -120px;
}
.bx-controls-direction .bx-next {
    margin-left: -100px;
}
	
	/* MOBILE*/

.texte-mobile, .mobile-img{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-top: 4em;
}
.mobile-img{
	width: 59%;
}
.texte-mobile{
	width:40%;
	padding-top: 7em;
}
.texte-mobile .titreGauche{
	font-size: 1.5em;
}
.texte-mobile h4{
	width:15em;
}
.logo-mobile{
	padding-top: 1em;
}

	/*CONNECT*/

.connect-left, .connect-right{
	display: inline-block;
	vertical-align: top;
}
.connect-left{
	width:65%;
	padding-right: 2%;
}
.connect-left .titreGauche{
	
}
.connect-left .texteGauche{
	width: 95%;
	padding-bottom: 1em;
}
.connect-img{
	float:left;
}
.connect-right{
	width: 32%;
	text-align: left;
	padding-top: 17em;
}
#connect h2{
	width: 120%;
}

	/*POWERFULL*/

#powerfull .container{
	padding-bottom: 0;
}
.powerfull-left, .powerfull-right{
	display: inline-block;
	vertical-align: top;
	height:59%;
	margin:4em 0 4em 0;
}
.powerfull-left{
 	width:47%;
 	padding-right:3em;
 	border-right: 3px solid #f5f9f9;
 }
.powerfull-right{
	width:40%;
	padding:4em 0 0 4em;
	text-align: left;
}
.titre-article {
	font-size: 1.5em;
	color: #303030;
}
.powerfull-right .texteGauche{
	width:110%;
	color: #8d8d8d;
	font-size: 1em;
	line-height: 1.8em;
}

	/*SEARCH*/

.search-left, .search-right{
	display: inline-block;
	vertical-align: top;
	width:45%;
	text-align: left;
}
.search-left{
	padding: 1.5em 2em 2em 0;
}
.search-right{ 
	padding: 1.5em 0 2em 3em;
	margin-right: 0;
}
.texte-article-rob{ 
	width: 95%; 
	font-size: 0.9em; 
	color: #8d8d8d; 
	line-height: 2em; 
	font-weight: lighter;
	padding-bottom: 3em;
}
.rob-container{
	width:85%;
	height: 4em;
	line-height: 4em;
	background-color: #58cb8e;
	color:#fff;
	position: relative;
}
.rob-img{
	border-radius: 50%;
	position: absolute;
	top: -17px;
	left:-40px;
}
#search blockquote{
	width:110%;
	font-size: 0.9em;
    font-style:italic;
    position: relative;
    font-family: "time"
}
blockquote span{
	position: absolute;
	font: italic 3em time;
	color: #8d8d8d;
	top:10px;
	left:-28px;
}
  .rob-text{
  	margin-left: 6em;
  	height: 2em;
}
 .rob-text .left, .rob-text .right{
	display: inline-block;
	vertical-align: top;
	font-size: 0.9em;
	height: 2em;
	line-height: 4.5em;
} 
 .rob-text .left{
 	width:46%;
	height: 2em;
	max-width: 100%;
 	margin-top:0.1em;
 	padding-right: 0.8em;
} 
 .rob-text .right{
 	width: 30%;
 	padding-left: 2.3em;
 	max-width: 100%;
 	margin: 0;
}
 .rob-text .right small{
	font-size: 1.37em;
	font-weight: lighter;
}
 .rob-text img{
 	position: absolute;
 	top:1.18em;
 	right:6.5em;
 	border-left: 1px solid white;
 	padding-left: 1.2em;
}

 	/*CLOUD*/

.cloud-left, .cloud-right{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.cloud-left{
	padding: 1.5em 2em 2em 0;
	width: 41%;
	margin-left: 0;
}
.cloud-left .titre-article{
	width: 120%;
}
.cloud-right{ 
	padding: 0 0 4em 5em;
	margin-right: 0;
	width: 44%;
}
.titre-cloud{
	display: flex;
	margin-top: 1em;
}
.titre-cloud .titre-article{
	width:80%;
	height: 2em;
	line-height:2em;
	padding: 0;
	margin-bottom: 0;
}
.titre-cloud .free{
	width: 15%;
	height: 3.5em;
	line-height:7em;
}
.free p{
	text-align: center;
	heigth:2.4em;
	line-height: 2.4em;
	margin-top: 2em;
	border-radius: 3px;
	text-transform: uppercase;
	color: white;
	font-size: 0.8em;
	background: #58cb8e;
	margin-left: 0.8em;
}


/* 	//////FOOTER////// */

#footer-hight{
	background-color: #181818;
	padding-top: 3.5em;
	padding-bottom: 6em;
}
#footer-hight .container{
	background-color: #181818;
	padding-top: 4em;
	padding-bottom: 6em;
}
.footer-left, .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-left{
	width: 76%;
}
.footer-right{
	width:20%;
	margin:0 0 0 2em;
}
#footer-hight h3{
	color:#cccccc;
	font-size: 0.8em;
}
#footer-hight ul{
	padding: 0;
}
#footer-hight li{
	list-style: none;
	line-height: 1.7em;
	text-transform: capitalize;
}
#footer-hight a{
	color:#5e5e5e;
	text-decoration: none;
	font-size: 0.9em;
}
#footer-hight a:hover{
	color:#cccccc;
}
.product, .company{
	float: left;
	padding-right: 7em;
}
.product{
	padding-right: 10em;
}
.footer-right button{
	width: 100%;
	height: 3.8em;
	border-radius: 25px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
}
.footer-right p{
	color: #929292;
	font-size:0.8em;
	line-height: 1.8em;
	padding:1em 0 1em 0;
}
	/* ///FOOTER LOW// */
	
#footer-low{
	padding-top: 9em; 
	background-color:#fff; 
}


